
body {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
}

p {
    height: 143%;
}

header {
    background-image: url("../img/header.jpg");
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 150px;
    padding-bottom: 25px;
}


h1, h2, h3 {
    margin-top: 0px;
    margin-bottom: 0.05em;
    font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header p {
    width: 50%;
}

.get-yours-link {
    display: inline-block;
    background-color:#814236;
    color: white;
    padding: 4px;
    border: 1px solid #391D18;
}

.get-yours-link:hover {
    color: white;
}

.get-yours-link-mobile {
    display: none;
}

.fa-shopping-cart {
    margin-right: 3px;
}

.footer-links {
    color: #AAAAAA;
}

.footer-links:hover {
    text-decoration: none;
}

@media (max-width: 992px) {
    header {
        background-image: linear-gradient(to bottom, #391D18, #814236);
        padding: 25px;
        height: auto;
        color: white;
    }

    .get-yours-link {
        display: none;
    }

    .get-yours-link-mobile {
        display: block;
        color: white;
        font-size: 24px;
        float: right;
    }

    .sub-heading {
        width: auto;
    }
}

.features-section { 
    padding: 15px 0px;
    background-color: #F8F8F8;
}

.feature {
    height: 250px;
    background-color: white;
    text-align: center;
    padding: 10px;
    border: 1px solid #DFDFDF;
    border-radius: 3px; 
    margin-bottom: 10px;
}

.uses {
    height: 400px;
    background-color: white;
    text-align: left;
    padding: 10px;
    border: 1px solid #DFDFDF;
    border-radius: 3px; 
    margin-bottom: 10px;
}

.feature svg {
    height: 50px;
    fill: #814236;    
}

.uses-section {
    padding: 15px 0px;
    background-color: #EBEBEB;
}

.testimonials-section {
    padding: 15px 0px;
    background-color: #F8F8F8;
}

.footer-section {
    padding: 15px 0px;
    background-color: #391D18;
    color: #EEEEEE;
}
h2 {
    text-align: center;
    font-variant: small-caps;
}

h4 {
    color: #999999;
}

@media (max-width: 768px){
    .feature {
        text-align: left;
        height: auto;
    }

    .feature svg {
        float: left;
    }

    .feature-copy {
        padding-left: 60px;
    }
}